
#header{
  margin-top: 50px;
  height: 120px;
}

#header #head1{
  text-align: center;
  font-family: Trebuchet MS sans-serif;
  font-variant: small-caps;
  color: #329386;
}

#head1 small{
  color: #98c9c2;
}

#menu{

  margin-bottom: 10%;
  margin-left: 12%;
  margin-right: 12%;
}

.dlist{
  text-align: center;
  font-variant: small-caps;
  color: #00c5cd;
  font-family: Trebuchet MS, sans-serif;
}


#doc_list{

  margin-bottom: 10%;
  margin-left: 12%;
  margin-right: 12%;
}

.w3-btn {
  margin-left: 10%;
}


table tr td{
  font-family: Trebuchet MS, sans-serif;
  font-size: 17px;
}

table tr{
  margin-bottom: 5%;
}

.well{
  margin-top: 13%;
}
.well p{
  text-align: center;
}

